body {
    margin: 0;
    padding: 0;
}

.main {
    background-color: #0b1d26;
    color: #fff;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 100px;
}

.preview {
    position: relative;
    height: 100vh;
    width: 100vw;
    transform-style: preserve-3d;
}

.previewLayer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.previewImage {
    background-image: url(images/image-30-05-22-08-31.png);
    background-size: cover;
    z-index: 1;
    transform: translateZ(-100px) scale(2);
}

.header {
    z-index: 2;
    display: flex;
    justify-content: space-between;
    padding: 64px 80px;
    height: 25px;
    align-items: center;
}

.nav {
    display: flex;
}

.navItem {
    cursor: pointer;
}

.navItem:not(last-child) {
    margin: 40px;
}

.accountWrapper {
    display: flex;
    align-items: center;
}

.accountTitle {
    padding-left: 8px;
}

.titleWrapper{
    z-index: 3;
    top: 35%;
    left: 20%;
    max-width: 950px;
}

.titleText {
    font-size: 18px;
    color: #FBD784;
    padding-left: 32px;
    text-transform: uppercase;
}

.line {
    height: 2px;
    width: 72px;
    background-color: #FBD784;
}

.title {
    display: flex;
    align-items: center;
}

.titleDescription {
    font-size: 88px;
    font-weight: 600;
    padding-top: 32px;
}

.gradient {
    height: 250px;
    width: 100%;
    position: relative;
    background-image: linear-gradient(transparent, 
    rgba(11,29,38, 0.2), 15%, rgba(11,29,38, 0.4), 30%);
}

.content {
    padding: 100px 80px;
    background-color: #0b1d26;
    position: relative;
}

.section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 114px;
    align-items: center;
}

.section:not(:last-child) {
    margin-bottom: 200px;
}


.sectionInfo {
    position: relative;
    max-width: 632px;
    margin-left: 100px;
}

.count {
    position: absolute;
    font-size: 240px;
    font-weight: 700;
    opacity: 0.1;
    top: -140px;
    left: -100px;
}

.sectionHeader {
    display: flex;
    align-items: center;
}

.sectionTitle {
    color: #FBD784;
    font-size: 18px;
    font-weight: 800;
    padding-left: 24px;
    text-transform: uppercase;
}

.infoTitle {
    padding-top: 27px;
    font-size: 64px;
    font-weight: 600;
}

.sectionText {
    padding-top: 27px;
    font-size: 18px;
}

.sectionImage1 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.sectionImage2 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.footer {
    padding: 120px 80px;
    display: flex;
    justify-content: space-between;
}

.footerText {
    padding-top: 24px;
    font-size: 18px;
    font-weight: 700;
    max-width: 300px;
}

.copyrightText {
    padding-top: 120px;
    font-weight: 500;
}

.rightSide {
    display: flex;
}

.bottomNav:not(:last-child) {
    margin-right: 212px ;
}

.bottomNavTitle {
    color: #FBD784;
    font-size: 24px;
    padding-bottom: 24px;
}

.bottomNavItem {
    font-size: 18px;
    font-weight: 500;
}

.bottomNavItem:not(:last-child) {
    padding-bottom: 16px;
}